*{ /*Отменяем все стили тегов*/
	margin: 0px;
	padding: 0px;
	border: 0px;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline:none;}

nav,footer,header,asibe{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-aling:top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}

body{
	font-family: 'Fjalla One', sans-serif;
}
@media(max-width: 330px){
	body{
		width: 330px;
	}
}
/*повторяющееся блоки*/
.color{
	padding: 5px;
	color:#c29032;
}
.min-text{
	font-family: 'Fjalla One';
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    margin: 15px;
}
.section-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Fjalla One';
   	font-size: calc(16px + 26 * (100vw / 1280));
    line-height: 1.1;
    font-weight: 400;
    margin-top: 0px;
}
.section-name__active{
	transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
	margin-top: 0px;
}
.section-name:after{
	display: block;
	content:" ";
	width: 70px;
    height: 4px;
	background: #c29032;
	margin: 15px;
}
a{
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
a:hover{
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.header{
	display: flex;
}
.header__top{
	display: flex;
	position: fixed;
	z-index: 1;
	justify-content: space-around;
	align-items: center;
	background-color: #000;
	color: #fff;
	width: 100%;
}
.header__name{
	font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
	font-size: 28px;
}
.header__menu-box{
	display: flex;
}
.header__menu-item{
	padding: 15px;
	margin: 8px;
	border-bottom: 1px solid transparent;
}
.header__menu-item a{
	font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
	color: #fff;
	padding:15px 0px;
}
.header__menu-item a:hover{
    color: #c29032;
	border-bottom: 1px solid #c29032;
}	

.burger-menu{
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 48px;
	height: 50px;
}
.one, .too, .free{
	display: block;
	width: 50px;
	height: 3px;
	background-color: #fff;
}
.burger-menu:hover .one{background-color: #c29032;}
.burger-menu:hover .too{background-color: #c29032;}
.burger-menu:hover .free{background-color: #c29032;}

@media(max-width: 650px){
	.header__menu{
		display: none;
	}
	.burger-menu{
		display: flex;
		position: absolute;
		z-index: 5;
		right: 20px;
		top: 10px;
	}
	.header__top{
		justify-content: space-between;
		min-height: 67px;
		padding: 0px 20px;
	}
	.header__menu__active{
		display: flex;
		flex-direction: column;
		max-width: 300px;
	}
	.header__menu-box{
		display: flex;
		position: absolute;
		flex-direction: column;
		top: 65px;
		right: 80px;
		z-index: 2;
		background-color: #000;
	}
}
.header__content{
	display: flex;
	justify-content: center;
	font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
	margin-top: 67px;
	min-height: 700px;
	min-width: 100%;
	background-image: url(image/slide02.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}
.header__box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header__min-description, .header__description{
	font-size: calc(8px + 16 * (100vw / 1280));
	margin: 20px;
}
@media(max-width: 620px){.header__description{text-align: center;}}
.header__content__name{
	font-size: calc(20px + 30 * (100vw / 1280));
	margin: 25px;
}
.header__button{
	margin: 25px;
	border: 1px solid #c29032;
	padding: 18px 0px;
}
.header__button__hover{
	padding: 13px 50px;
	margin: 3px;
	background-color: #c29032;
	color: #000;
}
.header__button__hover:hover{
	background-color: #000;
	color: #fff;
}
.practice{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background:#262626;
	margin: 0px;
}
.practice__name{
	color: #fff;
}
.practice__box-name{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60%;
	margin-top: 250px;
}
.practice__box-name-animation{
	transition: All 1s;
    -moz-transition:  All 1s;
    -webkit-transition:  All 1s;
    -o-transition:  All 1s;
	margin-top: 0px;
}
.practice__description{
	font:'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
	line-height: 1.8;
	text-align: center;
	color: #d0d0d0;
}
.practice__service-box a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 300px;
	border: 1px solid transparent;
	margin: 25px;
	box-shadow: 0px 2px 8px rgb(0 0 0 / 25%);
    moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 8px rgb(0 0 0 / 25%);
    transition: width 0.8;
    -moz-transition:  width 0.8;
    -webkit-transition:  width 0.8;
    -o-transition:  width 0.8;
}
.practice__service-box a:hover{
	border: 1px solid #c29032;
	width: 240px;
	height: 290px;
	transition: width height 0.8;
    -moz-transition:  width height 0.8;
    -webkit-transition:  width height 0.8;
    -o-transition:  width height 0.8;

}
.service__img{
	margin-top: 55px;
}
.service__name{
	text-align: center;
	font-size: 22px;
	margin: 25px;
	color: #c29032;
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.practice__service-box a:hover .service__name{
	color: #fff;
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.service__description{
	color: #dbdbdb;
	text-align: center;
	margin: 0px 25px 25px 25px;
}
.practice__service{
	display: flex;
	justify-content: space-around;
	margin: 0px 10%;
	flex-wrap: wrap;
}
.about__box{
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	margin-top: 100px;
}
.about__item{
	width: 40%;
	justify-content: space-between;
}
.about__box-name{
	font-size: calc(15px + 26 * (100vw / 1280));
	text-align: right;
	margin-bottom: 25px;
}
.about__box-description{
	font-size: calc(12px + 15 * (100vw / 1280));
	margin: 25px 0px;
}
.about__box-text p{
	font-size: 18px;
	margin: 45px 0px;
	font-weight: 100;
}
.about__box-sing{
	display: flex;
	justify-content: flex-end;
}
@media(max-width: 930px){
	.about__item img{
		display: none;
	}
	.about__box{
		margin-top: 30px;
	}
	.about__item{
		width: auto;
		margin: 20px;
	}
}
.team{
	background: #262626;
}
.team__name{
	color: #fff;
}
.team__box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center; 
}
.team__description{
	display: flex;
	max-width: 60%;
	text-align: center;
	color: #d0d0d0;
}
.team__option{
	display: flex;
}
.team__item{
	display: flex;
	justify-content: center;
	align-items: center;
	font-display: column;
	position: relative;
}
.team__item img{
	width: 350px;
}
.team__item img:hover ~ .team__content{
	display: flex;
	opacity: 0;
	transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
}
.team__content:hover{
	display: flex;
	opacity: 1;
	transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
}
.team__content{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-family: 'Fjalla One';
	top: 30%;
	color:#fff;
	width: 70%;
	height: 65%;
	background: #262626;
	box-shadow:  0px 5px 25px rgb(0 0 0 / 63%);
	moz-box-shadow:  0px 5px 25px rgb(0 0 0 / 63%);
	-webkit-box-shadow: 0px 5px 25px rgb(0 0 0 / 63%);
	bottom: 25px;
}
.team__content-name{ 
	font-size: 30px;
	color: #fff;
}
.team__content-job{
    font-size: 15px;
    color: #c29032;
    padding-bottom: 5px;
    margin: 10px;
}
.team__content__text{
	text-align: center;
	margin: 20px;
    font-size: 17px;
    color: #dbdbdb;
    padding-bottom: 10px;
}
.media{
	display: flex;
	justify-content: center;
}
.media__item a{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #dbdbdb;
}
.media__item a{
	color: #dbdbdb;
}
.media__item a:hover{
	border: 2px solid #c29032;
	color: #c29032;
}
@media(max-width: 1000px){
	.team__item img{
		width: 250px;
	}
	.team__content{
		top:10%;
		width: 90%;
		height: 90%;
	}
}
@media(max-width: 760px){
	.team__option{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}	
}

.slid__wraper{
	display: flex;
	overflow: hidden;
	width: 600px;
}
.comment_slid{
	display: flex;
	color: blue;
	min-width: 300px;
	background-color: #000;
}
.btnBack, .btnNext{
	background: #000;
	color: #fff;
	width: 50px;
	height: 50px;
}
.comment_slid:nth-child(2){
	display: flex;
	color: blue;
	min-width: 300px;
	background-color: #fffccc;
}
.comment_slid:nth-child(3){
	display: flex;
	color: blue;
	min-width: 300px;
	background-color: red;
}
.comment_slid:nth-child(4){
	display: flex;
	color: blue;
	min-width: 300px;
	background-color: orange;
}