@font-face {
  font-family: "TacticSans";
  font-style: normal;
  font-weight: 300;
  src: url("font/TacticSansExd-Bld.woff2") format("woff2"); 
  }
*{ /*Отменяем все стили тегов*/
	margin: 0px;
	padding: 0px;
	border: 0px;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline:none;}

nav,footer,header,asibe{display: block;}

html,body{
	font-family:Montserrat;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-width: 322px;
}

input,button,textarea{font-family:Montserrat;}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 300;}

/*========================Повторяемые блоки===========================*/

.number{
	font-family: "TacticSans";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #B65C19;
	margin-right: 10px;
}
.number_content{
	font-family: "TacticSans";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #B65C19;
	margin-right: 10px;
}
.section_name{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin: 25px 0px 25px 0px;
}
.section_name:after{
	display: block;
	content: " ";
	position: absolute;
	background-color: #B65C19;
	width: 70px;
	height: 5px;
}
/*==========================================Иконки=============================*/
a.logo{
	display: block;
	width: 100px;
	height: 76px;
	background: url(image/logo.svg);
	background-size: 100% 100%;
}
a.telegram {
    background: url(image/telegram.svg);
    background-size: 100% 100%;
    display: block;
    width: 24px;
    height: 24px;
   }
a.telegram:hover {
    background: url(image/telegramhover.svg);
    background-size: 100% 100%; 
}
a.telegram_safari{
	background: url(image/telegram.png);
    background-size: 100% 100%;
    display: none;
    width: 24px;
    height: 24px;
}
a.telegram_safari:hover {
    background: url(image/telegramhover.png);
    background-size: 100% 100%; 
} 
a.vatsap {
    background: url(image/vatsap.svg); 
    background-size: 100% 100%;
    display: block;
    width: 24px; 
    height: 24px; 
   }
a.vatsap:hover {
    background: url(image/vatsaphover.svg);
    background-size: 100% 100%;
}
a.vatsap_safari {
    background: url(image/vatsap.png); 
    background-size: 100% 100%;
    display: none;
    width: 24px; 
    height: 24px; 
   }
a.vatsap_safari:hover {
    background: url(image/vatsaphover.png);
    background-size: 100% 100%;
}


a.instagram {
    background: url(image/instagram.svg); 
    background-size: 100% 100%;
    display: block; 
    width: 24px; 
    height: 24px; 
   }
a.instagram:hover {
    background: url(image/instagramhover.svg);
    background-size: 100% 100%; 
}

a.instagram_safari {
    background: url(image/instagram.png); 
    background-size: 100% 100%;
    display: none; 
    width: 24px; 
    height: 24px; 
   }
a.instagram_safari:hover {
    background: url(image/instagramhover.png);
    background-size: 100% 100%; 
}

a.facebook {
    background: url(image/facebook.svg);
    background-size: 100% 100%;
    display: block; 
    width: 24px; 
    height: 24px; 
   }
a.facebook:hover {
    background: url(image/facebookhover.svg);
    background-size: 100% 100%; 
}
a.facebook_safari {
    background: url(image/facebook.png);
    background-size: 100% 100%;
    display: none; 
    width: 24px; 
    height: 24px; 
   }
a.facebook_safari:hover {
    background: url(image/facebookhover.png);
    background-size: 100% 100%; 
}



a.button_top{
	background: url(image/button_top_up.svg);
    background-size: 100% 100%;
    display: block; 
    width: 34px; 
    height: 35px; 
}
a.button_top:hover {
    background: url(image/button_top_up_hover.svg);
    background-size: 100% 100%; 
}


a.button_top_safari{
	background: url(image/button_top_up.png);
    background-size: 100% 100%;
    display: none; 
    width: 34px; 
    height: 35px; 
}
a.button_top_safari:hover {
    background: url(image/button_top_up_hover.png);
    background-size: 100% 100%; 
}


span.servise_mobile_next{
	background: url(image/button_down.svg);
    background-size: 100% 100%;
    display: none;
    min-width: 24px; 
    min-height: 24px;
}
span.servise_mobile_next:hover{
	display: flex;
    min-width: 24px; 
    min-height: 24px;
    background: url(image/button_down_hover.svg);
    background-size: 100% 100%;
}
span.servise_mobile_leading{
	background: url(image/button_up.svg); 
    background-size: 100% 100%;
    display: none; 
    min-width: 24px;
    min-height: 24px;
}
span.servise_mobile_leading:hover{
    background: url(image/button_up_hover.svg);
    background-size: 100% 100%;
    display: flex; 
    min-width: 24px;
    min-height: 24px;
}
span.mapp{
	background: url(image/mapp_top.svg);
    background-size: 100% 100%;
    display: block; 
    width: 24px; 
    height: 24px; 
    margin: 5px; 
}
span.time{
	background: url(image/time_top.svg);
    background-size: 100% 100%;
    display: block; 
    width: 24px; 
    height: 24px; 
    margin: 5px; 
}
span.email{
	background: url(image/email_top.svg);
    background-size: 100% 100%;
    display: block; 
    width: 24px; 
    height: 24px;
    margin: 5px;  
}
span.phone{
	background: url(image/phone_top.svg);
    background-size: 100% 100%;
    display: block; 
    width: 24px; 
    height: 24px;
    margin: 5px; 
}

span.section_servise_icon_1{
	background: url(image/1.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
span.section_servise_icon_2{
	background: url(image/2.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
span.section_servise_icon_3{
	background: url(image/3.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}span.section_servise_icon_4{
	background: url(image/4.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}span.section_servise_icon_5{
	background: url(image/5.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}span.section_servise_icon_6{
	background: url(image/6.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
span.a1{
	background: url(image/a1.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
span.a2{
	background: url(image/a2.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
span.a3{
	background: url(image/a3.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
span.a4{
	background: url(image/a4.svg);
    background-size: 100% 100%;
    display: block; 
    width: 60px; 
    height: 60px;
    margin: 5px; 
}
/*=======================header-top-menu=============================*/
.header_top{
	display: flex;
	position: fixed;
	min-width: 100%;
	z-index: 5;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20%;
	background-color: #162834;
}
.header_top_box{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 90%;

}
.header_top_contact{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_top_contact_box{
	display: flex;
	justify-content: center;
	min-width: 90%;
	color: #fff;
}
.header_top_contact_box a{
	color: #fff;
}
.header_top_contact_box ul{
	display: flex;
}
.header_top_contact_box ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 15px 10px 15px;
}
.header_top_contact_box ul li img{
	margin: 5px;
}
.header_top_contact_lang{
	justify-content: flex-end;
	color:#fff;
}
.header_top_contact_lang a{
	color: #fff;
	border-bottom: 2px solid transparent;
}
.header_top_contact_lang a:hover{
	border-bottom: 2px solid #D77B37;
}
.header_top_contact_lang ul li a{
	display: block;
	padding: 10px;
	padding-bottom: 5px;
}
.header_top_contact_lang ul li{
	margin-bottom: 5px;
}
.header_top_contact_lang ul li ul{
	display: none;
}
.header_top_contact_lang ul li ul:hover{
	display: block;
}
.header_top_contact_lang ul li:hover > ul{
	display: block;
	position: absolute;
	background-color: #162834;
}
.header_top_nav a{
	white-space: nowrap;
	color: rgba(229, 229, 229, 0.8);
	line-height: 17px;
	text-transform: uppercase;
	margin: 10px 0px 10px 25px;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
}
.header_top_nav a:hover{
	color: #E5E5E5;
	padding-bottom: 3px;
	border-bottom: 2px solid #D77B37;
}
.header_top_nav ul{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

@media (max-width: 1760px){.header_top_nav a{margin: 10px 0px 10px 10px;}}
@media (max-width: 1560px){.header_top{	padding: 0px 15%;}}
@media (max-width: 1560px){.header_top{	padding: 0px 10%;}}
@media (max-width: 1170px){.header_top{	padding: 0px 5%;}}
@media (max-width: 1050px){.header_top{	padding: 0px 0%;}}
@media (max-width: 1007px){
	.header_top_nav a{
		line-height: 10px;
		margin: 10px 0px 10px 5px;
		font-size: 12px;
	}
	.header_top_contact{
		font-size: 12px;
	}
	.header_top_box{
		min-width: 80%;
	}
}
@media (max-width: 810px){
	a.logo{
		width: 80px;
		height: 56px;
	}
	.header_top_nav{
		display: none;
	}
	.header_top_logo{
		margin: 20px 5px;
	}
	.header_top_contact_box ul{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.header_top_contact_box ul li{
		justify-content: flex-start;
		min-width: 200px;
		font-size: 12px;
		margin: 0px 15px 2px 15px;
	}
	.header_top_contact_box ul li img{
		width: 18px;
	}
	.header_top_nav_mobile{
		display: block;
		min-width: 22px;
		height: 16px;
		margin: 0px;
		margin-top: 10px;
	}
	.header_top_nav_mobile span{
		display: block;
		width: 98%;
		height: 3px;
		margin: 2px 0px;
		background-color: #E5E5E5;
		border-radius: 50px;	
	}
	.header_top_contact{
		display: flex;
	}
	.header_top_nav_active{
		display: block;
		position: absolute;
		z-index: 1;
		top: 70px;
		right: 20px;
		background-color: #162834;
	}
	.header_top_nav_active ul{
		display: flex;
		flex-direction: column;
	}
	.header_top_nav_active ul li{
		padding: 5px;
	}
	.header_top_nav_active ul li a{
		border-bottom: 2px solid transparent;
		padding: 15px 10px;
	}
	.header_top_nav_active ul li a:hover{
		border-bottom: 2px solid #D77B37;
	}
	
}
@media (max-width: 621px){
	.header_top{
		padding: 0px 4%;
	}
	.header_top_box{
		min-width: 60%;
	}
	.header_top_contact_box ul{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.header_top_contact_box ul li{
		min-width: auto;
	}
	.header_top_contact_box ul li:nth-child(2){
		display: none;
	}
	.header_top_contact_box ul li:nth-child(3){
		display: none;
	}
	.header_top_nav_active {
		right: 0px;
	}
}
@media (max-width: 415px){
	.header_top{
		padding: 0px 6%;
	}
	.header_top_contact_box a{
		white-space: nowrap;
	}
}
/*=======================header-top-menu    Анимация=============================*/
.header_content{
	height: 750px;
	overflow: hidden;
}
.header_content_box{
	opacity: 0;
	margin-top: 20%;
}
.header_content_box._anim{
	opacity: 2;
	transition: 1s;
	margin-top: 0px;
}
/*=======================header-Content=============================*/
.header_content_box{
	display: flex;
	color: #fff;
}
.header_content_box a{
	color: #fff;
}
.header_content{
	display: flex;
	flex-direction: column;
	padding: 100px 20% 0px 20%;
	background-image: url("image/header-bg.png");
	background-color: currentcolor;
	background-size: 100%;
	min-height: 550px;
}

.header_content_item_2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header_content_name{
	font-weight: 600;
	font-size: 44px;
	line-height: 150%;
	text-align: center;
	margin-bottom: 50px;
}
.header_content_description{
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
}
.header_content_description p{
	margin: 10px;
}
.color_text{
	color: #B65C19;
	font-weight: 600;
}
.header_content_item_box{
	width: 86%;
	margin: 80px 70px 20px; 
}
.header_content_button a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	width: 240px;
	height: 60px;
	background-color: #B65C19;
	border: 1px solid #B65C19;
	border-radius: 5px;
	margin: 25px;
	transition: 0.5s;
}
.header_content_button a:hover{
	background-color: transparent;
	border: 1px solid #B65C19;
}
.header_content_item{
	display: flex;
	align-items: center;
}
.header_content_item_icon a{
	margin-bottom: 15px;
}
.header_content_batton{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.header_content_progress{
	display: flex;
	align-items: center;
	text-align: center;
	font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;
	height: 60px;
	border: 1px solid #B65C19;
	border-radius: 12px;
	margin: 15px;
	padding: 25px;
	color: #fff;
}

@media (max-width: 1560px){.header_content{	padding: 100px 15% 0px 15%;}}
@media (max-width: 1430px){.header_content{	padding: 100px 10% 0px 10%; background-size: cover;}}
@media (max-width: 1170px){.header_content{	padding: 100px 5% 0px 5%;}}
@media (max-width: 1050px){.header_content{	padding: 100px 1% 0px 1%;}}
@media (max-width: 960px){
	.header_content_name{
		font-size: 36px;
	}
	.header_content_progress{
		margin: 5px;
	}
}
@media (max-width: 780px){
	.header_content_name{
		font-size: 26px;
	}
	.header_content_description{
		font-size: 16px;
	}
	.header_content_progress{
		min-width: auto;
		margin: 2px;
		padding: 2px;
		font-size: 16px;
	}
	.number .number_content{
		font-size: 24px;
	}
}
@media (max-width: 651px){
	.header_content_progress{
		display: none;
	}
	.header_content_item{
		display: none;
	}
}

/*=======================================section_servise===========================*/
.section_servise{
	padding: 0px 15%;
}
.section_servise_content_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.servise_slider{
	display: flex;
}
.servise_slider_item{
	display: flex;
	justify-content: space-between;
	border-bottom:5px solid #E5E5E5;
}
.servise_slid{
	margin-top: -6px;
	display: flex;
	flex-direction: column;
	margin-bottom: -6px;
}
.servise_box{
	display: flex;
	min-height: 170px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transition: 0.5s;
}
.servise_box:hover{
	margin-top: -10px;
	cursor: pointer;
}
.servise_box_name{
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin: 5px;
}
.servise_box_content{
	display:none;
}
.servise_slid--active{
	display: block;
	padding: 20px;
	margin: 5px;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
} 
.servise_slid--active li{
	font-weight: bold;
	margin: 15px 0px;
}
.servise_slid--active p{
	font-weight: bold;
	margin: 15px 0px;
}
.servise_box_content ul{
	margin: 25px;
}
.servise_box_content ul li{
	list-style-type:disc;
}
.servise_box_content ul li ul li{
	list-style-type:none;
}
.pod_text{
	margin-left: 50px;
	width: 50%;
}
.servic_text_box{
	width:100%;
}
.section_servise_button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #D77B37;
	color: #000;
	border-radius: 8px;
	width: 250px;
	height: 50px;
	margin: 25px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}


.servise_mobile_leading, .servise_mobile_next{
	display: none;
}
@media (max-width: 1560px){.section_servise{padding: 0px 10%;}}
@media (max-width: 1170px){.section_servise{padding: 0px 5%;}}
@media (max-width: 990px){
	.section_servise{	padding: 0px 1%;}
}
@media (max-width: 937px){
	.servise_slider_item{
		min-width: 100%;
	}
	.servise_slider{
		flex-wrap: wrap;
	}
	.servise_slid{
		flex-basis: 200px;
		flex-wrap: wrap;
	}
	.servise_box{
		padding: 10px;
	}
}
@media (max-width: 520px){

	.servise_slider_item{
		border:none;
	}
	/*Слайдер*/
	.servise_slid{
		border-bottom: 5px solid #E5E5E5;
		margin: 5px;
		min-width:250px;
	}
	.servise_box{
		min-width: 240px;
	}
	.section_servise_slider{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.servise_slid{
		display: none;
	}

	span.servise_mobile_next_safari{
	background: url(image/button_down.png);
    background-size: 100% 100%;
    display: none;
    min-width: 24px; 
    min-height: 24px;
	}
	span.servise_mobile_next_safari:hover{
		display: flex;
	    min-width: 24px; 
	    min-height: 24px;
	    background: url(image/button_down_hover.png);
	    background-size: 100% 100%;
	}

	span.servise_mobile_leading, span.servise_mobile_next{
		display: block;
	}

	span.servise_mobile_leading_safari{
		background: url(image/button_up.png); 
	    background-size: 100% 100%;
	    display: none; 
	    min-width: 24px;
	    min-height: 24px;
	}
	span.servise_mobile_leading_safari:hover{
	    background: url(image/button_up_hover.png);
	    background-size: 100% 100%;
	    display: flex; 
	    min-width: 24px;
	    min-height: 24px;
	}

	.servise_slid_active{
		display: flex;
		min-width: 100%;
	}
}
@media (max-width: 375px){
	.pod_text{
	margin-left: 20px;
	width: 80%;
	}
}

/*==================================section_advantages===========================*/
.section_advantages{
	display: flex;
	flex-direction: column;
	padding: 0px 15%;
	background-position: left;
	background-repeat: no-repeat;
	background-color: #162834;
	background-image: url("image/sec-orn-b.png");
}
.advantages_box{
	display: flex;
	margin-bottom: 50px;
}
.section_advantages_box_icon{
	display: flex;
	color: #E5E5E5;
}
.advantages_box_option_col_line, .advantages_box_option_col{
	width: 48%;
}
.section_advantages_boxic{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.section_advantages_boxic img{
	margin: 5px;
}
.section_advantages_paragraph{
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	margin-top: 25px;
}
.section_advantages_box_item{
	max-width: 35%;
	color: #E5E5E5;
}
.section_advantages .section_name{
	color: #fff;
}

.advantages_box_option{
	display: flex;
	position: relative;
	flex-direction: column;
	color: #fff;
	margin-bottom: 25px;
}
.advantages_box_option_name{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.advantages_box_option_description{
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}
.advantages_box_option:before{
	display: block;
	content:" ";
	background-color: #E5E5E5;
	left: 49%;
	width: 2px;
	height: 98%;
	position: absolute;
}
.advantages_option_box{
	display: flex;
	justify-content: space-between;
	max-width: 48%;
}
.advantages_option_box:nth-of-type(even){
	display: flex;
	justify-content: flex-start;
	margin-left: 50%;
}

@media (max-width: 1560px){.section_advantages{padding: 0px 10%;}}
@media (max-width: 1170px){
	.section_advantages_box_icon{
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.section_advantages_boxic{
		min-width: 200px;
	}
}
@media (max-width: 990px){
	.section_advantages{background-image: none;}
	.section_advantages_boxic{font-size: 14px;}
}
@media (max-width: 885px){
	.section_advantages{padding: 0px 1%;}
}
@media (max-width: 715px){
	.advantages_box{
		flex-wrap: wrap;
	}
	.section_advantages_boxic{
		min-width: 31%;
	}
	.section_advantages_box_item{
		min-width: 98%;
	}
}
@media (max-width: 650px){
	.advantages_box_option{
		align-items: center;
	}
	.advantages_box_option:before{
		display: none;
	}
	.advantages_option_box:nth-of-type(even){
		margin: 15px;
		justify-content: center;
	}
	.advantages_option_box{
		align-items: center;
		justify-content: space-between;
		min-width: 98%;
	}
}
@media(max-width: 550px){
	.section_advantages_box_icon{
		justify-content: center;
	}
	.section_advantages_boxic{
		width: 200px;	
	}
}
@media(max-width: 450px){
	.section_advantages_boxic{
		width: 150px;	
	}
}
@media(max-width: 350px){
	.section_advantages_boxic{
		width: 120px;	
	}
}
/*==================================Анимация section_advantages===========================*/
.advantages_box{
	overflow: hidden;
}
.section_advantages_box_item{
	position: relative;
	right: -65%;
}
.section_advantages_box_item._anim{
	-webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
	position: relative;
	right: 0%;
}
.section_advantages_box_icon{
	position: relative;
	right: -65%;
}
.section_advantages_box_icon._anim{
	-webkit-transition: 1.5s ease-out;
     -webkit-transition-delay: 0.5s;
     -o-transition: 1.5s ease-out;
     -o-transition-delay: 0.5s;
     -moz-transition: 1.5s ease-out;
     -moz-transition-delay: 0.5s;
     transition: 1.5s ease-out;
     transition-delay: 0.5s;
	position: relative;
	right: 0%;
}
.advantages_box_option{
	position: relative;
	opacity: 0;
	left:-65%;
}
.advantages_box_option._anim{
	transition: 1s;
	opacity: 1;
	position: relative;
	left: 0px;
}
/*==================================section_about===========================*/
.section_about{
	padding: 15px 15%;
	background:linear-gradient(to left, #162834 39%, #fff 39%);
}
.about_box{
	display: flex;
}
.about_content{
	max-width: 60%;
}
.about_content_text_block{
	max-width: 90%;
}
.about_content_box{
	max-width: 60%;
}
.about_content p{
	margin-top: 15px;
}
.about_images img{
	width: 330px;
	height: 685px;
}
.about_images{
	margin-bottom: -50px;
	margin-left: -90px;
	width: 40%;
}
.bold_text{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.bold_name{
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
}
.bold{
	font-weight: 600;
}
.bold_curs{
	font-weight: 600;
	font-style: italic;
}
@media(max-width: 1275px){
	.about_content_text_block{
		max-width: 83%;
	}
}
@media(max-width: 1207px){
	.about_images{
		margin-bottom: -52px;
	}
}
@media (max-width: 1010px){
	.section_about{
		padding: 15px 10%;
		background:linear-gradient(to left, #162834 30%, #fff 30%);
	}
	.about_images{
		position: relative;
		margin-left: -15px;
	}
	.about_images img{
		position: absolute;
		bottom: 4px;
		width: 330px;
    	height: 685px;
	}
}
@media (max-width: 840px){
	.about_images{
		margin-left: -30px;
	}
}
@media (max-width: 720px){
	.about_images{
		margin-left: -60px;
	}
}
@media (max-width: 643px){
	.about_images{
		margin-left: -60px;
	}
}
@media (max-width: 600px){
	.about_images{
		display: none;
	}
	.section_about{
		background:linear-gradient(to left, #fff 30%, #fff 30%);
	}
	.about_content{
		max-width: 100%;
	}
}
/*==================================section_about Анимация===========================*/
.about_content{
	overflow: hidden;
}
.about_content_text_anim{
	position: relative;
	left: -160px;
	opacity: 0;
}
.about_content_text_anim._anim{
	transition: 1s;
	left: 0px;
	opacity: 1;
}
.about_anim_1,.about_anim_2,.about_anim_3,.about_anim_4,.about_anim_5,.about_anim_6{
	position: relative;
	left: -180px;
	opacity: 0;
}
.about_anim_1._anim{
	left: 0px;
	opacity: 1;
	-webkit-transition: 1s ease-out;
    -webkit-transition-delay: 0.5s;
    -o-transition: 1s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: 1s ease-out;
    -moz-transition-delay: 0.5s;
    transition: 1s ease-out;
    transition-delay: 0.5s;
}
.about_anim_2._anim{
	left: 0px;
	opacity: 1;
	-webkit-transition: 1s ease-out;
    -webkit-transition-delay: 0.8s;
    -o-transition: 1s ease-out;
    -o-transition-delay: 0.8s;
    -moz-transition: 1s ease-out;
    -moz-transition-delay: 0.8s;
    transition: 1s ease-out;
    transition-delay: 0.8s;
}
.about_anim_3._anim{
	left: 0px;
	opacity: 1;
	-webkit-transition: 1s ease-out;
    -webkit-transition-delay: 1s;
    -o-transition: 1s ease-out;
    -o-transition-delay: 1s;
    -moz-transition: 1s ease-out;
    -moz-transition-delay: 1s;
    transition: 1s ease-out;
    transition-delay: 1s;
}
.about_anim_4._anim{
	left: 0px;
	opacity: 1;
	-webkit-transition: 1s ease-out;
    -webkit-transition-delay: 1.2s;
    -o-transition: 1s ease-out;
    -o-transition-delay: 1.2s;
    -moz-transition: 1s ease-out;
    -moz-transition-delay: 1.2s;
    transition: 1s ease-out;
    transition-delay: 1.2s;
}
.about_anim_5._anim{
	left: 0px;
	opacity: 1;
	-webkit-transition: 1s ease-out;
    -webkit-transition-delay: 1.4s;
    -o-transition: 1s ease-out;
    -o-transition-delay: 1.4s;
    -moz-transition: 1s ease-out;
    -moz-transition-delay: 1.4s;
    transition: 1s ease-out;
    transition-delay: 1.4s;
}
.about_anim_6._anim{
	left: 0px;
	opacity: 1;
	-webkit-transition: 1s ease-out;
    -webkit-transition-delay: 1.6s;
    -o-transition: 1s ease-out;
    -o-transition-delay: 1.6s;
    -moz-transition: 1s ease-out;
    -moz-transition-delay: 1.6s;
    transition: 1s ease-out;
    transition-delay: 1.6s;
}
/*==================================section_contact===========================*/

.section_name_color{
	color:#D77B37;
}
.section_contact{
	padding: 15px 15%;
	background-image: url("image/contact_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: currentcolor;
	background-size: cover;
}
.section_contact .section_name{
	color: #fff;
}
.section_contact_form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section_contact_form form{
	display: flex;
	flex-direction: column;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
	width: 630px;
}
.section_contact_form form input[type="text"]{
	margin: 10px 30px 10px 30px;
	padding: 10px;
	background-color: transparent;
	border-bottom: 1px solid #fff;
}
.section_contact_form form input[type="text"]{
	color: #fff;
}
 .section_contact_form form input[type="text"]::-webkit-input-placeholder{
 	color: #fff;
 }
 .section_contact_form form input[type="text"]::-moz-placeholder{
 	color: #fff;
 }
 .section_contact_form form textarea[type="text"]{
	color: #fff;
}
 .section_contact_form form textarea[type="text"]::-webkit-input-placeholder{
 	color: #fff;
 }
 .section_contact_form form textarea[type="text"]::-moz-placeholder{
 	color: #fff;
 }
.section_contact_form form a{
	margin: 10px 30px 10px 30px;
	color: #fff;
	transition: 0.5s;
}
.section_contact_form form a:hover{
	background-color:  #B65C19;
}
.input_text{
	height: 80px;
}
.section_contact_button{
	align-self: flex-end;
	padding: 8px;
	border: 1px solid #B65C19;
	border-radius: 8px;
	width: 200px;
	margin: 25px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	color: #fff;
	transition: 1s;
}
.section_contact_button:hover{
	background-color: #B65C19;
}
.form_politic{
	display: flex;
	align-items: center;
	margin-left: 30px;
}
.checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 10px;
}
.checkbox__text {
	position: relative;
	margin: 0 0 0 10px;
	cursor: pointer;
}
.checkbox__text:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 20px;
	height: 22px;
	background: #CDD1DA;
	background: transparent;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox__text:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	background: transparent;
	border: 1px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox input:checked + .checkbox__text:after {
	content: url('image/ico.png');
}
.checkbox input:focus + .checkbox__text:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

@media(max-width: 768px){
	.section_contact_form form{
		width: 95%;
	}
}
@media(max-width: 500px){
	.section_contact{
		padding: 25px 3%;
	}
	.section_contact .section_name{
		font-size: 22px;
	}
	.section_contact_button{
		align-self: center;
	}
}


/*==================================section_algorithms===========================*/
.section_algorithms{
	display: flex;
	flex-direction: column;
	padding: 0px 15% 50px;
	background-color: #162834;
	color: #fff;
}
.section_algorithms .section_name{
	align-self: flex-end;
}
.section_algorithms_option{
	display: flex;
	align-items: center;
}
.section_algorithms_content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
}
.section_algorithms_box{
	display: flex;
	justify-content: center;
}
.section_algorithms_content_img{
	display: flex;
	justify-content:center;
	align-items: center;
	margin-right: 50px;
}
.bg_mob{
	display: none
}
@media (max-width: 920px){
	.section_algorithms{
		padding: 0px 10%;
	}
	.section_algorithms_content{
		height: 370px;
	}
}
@media(max-width: 768px){
	.section_algorithms{
		padding: 0px 5%;
	}
	.section_algorithms .number{
		font-size: 24px;
	}
	.section_algorithms .section_name{
		font-size: 24px;
		align-self: flex-start;
	}
	.section_algorithms_content{
		height: 390px;
	}
	.section_algorithms_content_img{
		margin-right: 25px;
	}
}
@media(max-width: 675px){
	.section_algorithms_content{
		height: 450px;
	}
	.section_algorithms_content_img .bg-foto{
		display: none;
	} 
	.section_algorithms_content_img .bg_mob{
		display: flex;
	} 
}
@media(max-width: 427px){
	.section_algorithms_content{
		height: 465px;
	}
}
@media(max-width: 403px){
	.section_algorithms_content{
		height: 465px;
	}
}
/*==================================Анимация==============================*/
.section_algorithms_box{
	overflow: hidden;
}
.section_algorithms_content{
	position: relative;
	opacity: 0;
	right: -45%;
}
.section_algorithms_content._anim{
	opacity: 1;
	transition: 1s;
	right: 0%;
}
/*==================================section_faq===========================*/

.section_faq{
	padding: 25px 15%;
}
.faq_name{
	font-weight: 600;
	padding: 15px 15px 15px 15px;
}
 .faq_text{
 	padding: 10px 10px 10px 10px;
}
.faq_item{
	border-radius: 8px;
	border: 1px solid black;
	margin: 10px;
	cursor: pointer;
}
.faq_item_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faq_text{
	display: block;
	opacity: 0;
	margin-top: -50%;
	margin-right: 50px;
}
.faq_text_anim{
	overflow: hidden;
}
.faq_text_active{
	display: block;
	transition: 0.5s;
	margin-top: 0px;
	opacity: 1;
}
.faq_ico{
	display: block;
	position: relative;
	min-width: 25px;
	height: 2px;
	margin: 20px;
	background-color: #000;
}
.faq_ico:before{
	display: block;
	content: " ";
	background-color: #000;
	position: absolute;
	left: 11px;
	top: -12px;
	width: 2px;
	height: 25px;
}
.faq_ico_activ{
	display: block;
	position: relative;
	min-width: 25px;
	height: 2px;
	margin: 20px;
	background-color: #000;
}
.faq_ico_activ:before{
	content:none;
}
@media(max-width: 720px){
	.faq_text{
		margin-top: -100%;
	}
	.faq_text_active{
		margin-top: 0%;
	}
}
@media(max-width: 530px){
	.faq_text{
		margin-top: -150%;
	}
	.faq_text_active{
		margin-top: 0%;
	}
}
@media(max-width: 478px){
	.faq_text{
		margin-top: -250%;
	}
	.faq_text_active{
		margin-top: 0%;
	}
}
@media(max-width: 410px){
	.faq_text{
		margin-top: -500%;
	}
	.faq_text_active{
		margin-top: 0%;
	}
}
/*==================================section_map===========================*/
.section_map{
	margin-top: 50px;
	height:500px;
}
.map_google{
	display: block;
	position: relative;
	z-index: 1;
	top: -540px;
	height:540px;
}
.section_map_name{
	color: #D77B37;	
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 30px;
}
.map_form{
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
	color: #fff;
	margin: 0px 15% 20px 50%;
	padding: 50px 0px 50px;
	min-height: 500px;
 	max-width: 450px;
 	background-color: #162834;
 	border: 1px solid #E5E5E5;
 	padding: 35px;
 	border-radius: 12px;
}
.form_input{
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}
.map_button{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	width: 240px;
	height: 60px;
	background-color: transparent;
	border: 1px solid #B65C19;
	border-radius: 5px;
	margin: 25px auto;
	transition: 0.5s;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
}
.map_button:hover{
	border: 1px solid #B65C19;
	background-color: #B65C19;
}
.form_input{
	display: flex;
	align-items: center;
	margin: 10px;
}
.form_input img{
	margin-right: 5px;
}
.map_soc{
	display: flex;
	justify-content: center;
}
.map_soc_icon a{
	margin: 10px;
}
@media(max-width: 925px){
	.map_form{
		margin: 0px 10% 20px 45%;
	}
}
@media(max-width: 768px){
	.map_google{
		top: 0px;
	}
	.map_form{
		margin: 0px auto;
	}
	.section_map_box{
		padding: 25px;
	}
	.section_map{
		height:auto;
		background-color: #162834;
	}
}
@media(max-width: 500px){
	.map_form{
		border: none;
		max-width: 100%;
		padding: 0px;
	}
}

/*==================================footer===========================*/
footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 10% 20px 10%;
	background-color: #162834;
}
footer>ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer>ul>li{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer>ul>li>a{
	white-space: nowrap;
	font-size: 14px;
	font-weight: 300;
	color: #E5E5E5;
	padding: 5px 5px 5px 5px;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
}
footer>ul>li>a:hover{
	color:#fff;
	border-bottom: 2px solid #D77B37;
}
.footer_button{
	display: flex;
	margin-left: 20px;
}
@media(max-width: 1170px){
	footer{
		padding: 60px 5% 20px 5%;
	}
}
@media(max-width: 1024px){
	footer{
		padding: 60px 10px 20px 10px;
	}
}
@media(max-width: 1115px){
	footer>ul>li{
		display: none;
	}
}
@media(max-width: 970px){
	footer{
		justify-content: center;
		position: relative;
		align-items: center;
	}
	.footer_button{
		display: flex;
		position: absolute;
		right: 30px;
	}
}
/*==================================404-405===========================*/

.bg404{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("image/404_bg.png");
	background-position: left bottom;
	background-repeat: no-repeat;
}
.box_404{
	display: flex;
}
.title_404{
	color: #162834;
	font-weight: 400;
	font-size: 180px;
	line-height: 148.9%;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.85);
}
.box_404{
	margin-left: 5%;
}
.box_404 img{
	width: 300px;
}
.name_page_404{
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 150%;
}
.description_page_404{
	font-style: normal;
	max-width: 600px;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	margin-bottom: 70px;
}
.button_404{
	color: #000;
	padding: 20px 59px;
	background-color: #D77B37;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	border-radius: 12px;
}















.safari{
	display: none;
}

.form_ok_style{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.form_ok_style strong{
	color:#D77B37;
	font-size: 55px;
}