input{
  border: none;
}
input:focus-visible{
  outline: none;
}

textarea{
  border: 2px solid #00000010;
  border-radius: 3px;
  resize: none;
}
textarea:focus-visible{
  outline: none;
}

.input{
  display: flex;
  align-items: center;
  border: 2px solid #00000010;
  border-radius: 3px;
}
.input:focus-visible{
  outline: none;
}
.input svg{
  margin: 10px 5px 5px;
  fill:red;
}
.input input{
  padding: 8px 10px;
  width: 100%;
}


.box_select .select{
  border: 2px solid #00000010;
  border-radius: 3px;
  padding: 3px;
}
.box_select .select .title {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 8px;
}
.box_select .select .title .icon svg{
  fill: #222222;
}
.box_select:hover ul{
  transition: max-height 1,5s ease-in-out;
  max-height: 1000px;
}
.box_select ul{
  display: block;
  transition: max-height 0.3s ease-in-out;
  max-height: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.box_select ul li{
  background-color: #1C69D410;
  padding: 8px;
  margin: 8px 0px;
}