@font-face {
  font-family: "TacticSans";
  font-style: normal;
  font-weight: 300;
  src: url("font/TacticSansExd-Bld.woff2") format("woff2"); 
  }
*{ /*Отменяем все стили тегов*/
	margin: 0px;
	padding: 0px;
	border: 0px;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline:none;}

nav,footer,header,asibe{display: block;}

html,body{
	font-family:Montserrat;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-width: 320px;
}

input,button,textarea{font-family:Montserrat;}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-aling:top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 300;}

/*========================Повторяемые блоки===========================*/

.number{
	font-family: "TacticSans";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #B65C19;
	margin-right: 10px;
}
.number_content{
	font-family: "TacticSans";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #B65C19;
	margin-right: 10px;
}
.section_name{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin: 15px 0px;
}
.section_name:after{
	display: block;
	content: " ";
	position: absolute;
	background-color: #B65C19;
	width: 70px;
	height: 5px;
}
/*==========================================Иконки=============================*/
a.telegram {
    background: url(image/telegram.svg);
    background-size: 100%;
    display: block;
    width: 24px;
    height: 24px;
   }
a.telegram:hover {
	background-size: 100%;
    background: url(image/telegramhover.svg); 
}
a.viber {
    background: url(image/viber.svg);
    background-size: 100%;
    display: block; 
    width: 24px;
    height: 24px; 
   }
a.viber:hover {
	background-size: 100%;
    background: url(image/viberhover.svg);
   } 
a.vatsap {
    background: url(image/vatsap.svg); 
    background-size: 100%;
    width: 24px; 
    height: 24px; 
   }
a.vatsap:hover {
	background-size: 100%;
    background: url(image/vatsaphover.svg);
}
a.instagram {
    background: url(image/instagram.svg); 
    background-size: 100%;
    display: block; 
    width: 24px; 
    height: 24px; 
   }
a.instagram:hover {
	background-size: 100%;
    background: url(image/instagramhover.svg); 
}
a.facebook {
    background: url(image/facebook.svg);
    background-size: 100%;
    display: block; 
    width: 24px; 
    height: 24px; 
   }
a.facebook:hover {
	background-size: 100%;
    background: url(image/facebookhover.svg); 
}
span.servise_mobile_next{
	background: url(image/button_down.svg);
    background-size: 100%;
    display: none;
    min-width: 24px; 
    min-height: 24px;
}
span.servise_mobile_next:hover{
	display: flex;
    min-width: 24px; 
    min-height: 24px;
	background-size: 100%;
    background: url(image/button_down_hover.svg);
}
span.servise_mobile_leading{
	background: url(image/button_up.svg); 
    background-size: 100%;
    display: none; 
    min-width: 24px;
    min-height: 24px;
}
span.servise_mobile_leading:hover{
	background-size: 100%;
    background: url(image/button_up_hover.svg);
    display: flex; 
    min-width: 24px;
    min-height: 24px;
}

/*=======================header-top-menu=============================*/

.header_top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20%;
	background-color: #162834;
}
.header_top_box{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.header_top_contact{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_top_contact_box{
	display: flex;
	color: #fff;
}
.header_top_contact_box a{
	color: #fff;
}
.header_top_contact_box ul{
	display: flex;
}
.header_top_contact_box ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 15px 10px 15px;
}
.header_top_contact_box ul li img{
	margin: 5px;
}
.header_top_contact_lang{
	justify-content: flex-end;
	color:#fff;
}
.header_top_contact_lang a{
	color: #fff;
	border-bottom: 2px solid transparent;
}
.header_top_contact_lang a:hover{
	border-bottom: 2px solid #D77B37;
}
.header_top_contact_lang ul li a{
	display: block;
	padding: 10px;
	padding-bottom: 5px;
}
.header_top_contact_lang ul li{
	margin-bottom: 5px;
}
.header_top_contact_lang ul li ul{
	display: none;
}
.header_top_contact_lang ul li ul:hover{
	display: block;
}
.header_top_contact_lang ul li:hover > ul{
	display: block;
	position: absolute;
	background-color: #162834;
}
.header_top_nav a{
	color: rgba(229, 229, 229, 0.8);
	line-height: 17px;
	text-transform: uppercase;
	margin: 10px 0px 10px 25px;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
}
.header_top_nav a:hover{
	color: #E5E5E5;
	padding-bottom: 3px;
	border-bottom: 2px solid #D77B37;
}
.header_top_nav ul{
	display: flex;
	margin-bottom: 25px;
}

@media (max-width: 1760px){.header_top_nav a{margin: 10px 0px 10px 10px;}}
@media (max-width: 1560px){.header_top{	padding: 0px 15%;}}
@media (max-width: 1560px){.header_top{	padding: 0px 10%;}}
@media (max-width: 1170px){.header_top{	padding: 0px 5%;}}
@media (max-width: 1050px){.header_top{	padding: 0px 1%;}}
@media (max-width: 960px){
	.header_top_nav a{
		line-height: 10px;
		margin: 10px 0px 10px 5px;
		font-size: 12px;
	}
	.header_top_contact{
		font-size: 12px;
	}
}
@media (max-width: 815px){
	.header_top_nav{
		display: none;
	}
	.header_top_logo{
		margin: 0px 5px;
	}
	.header_top_contact_box ul{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.header_top_contact_box ul li{
		justify-content: flex-start;
		min-width: 200px;
		font-size: 12px;
		margin: 0px 15px 2px 15px;
	}
	.header_top_contact_box ul li img{
		width: 18px;
	}
	.header_top_nav_mobile{
		display: block;
		min-width: 22px;
		height: 16px;
		margin: 0px;
		margin-top: 10px;
	}
	.header_top_nav_mobile span{
		display: block;
		width: 98%;
		height: 3px;
		margin: 2px 0px;
		background-color: #E5E5E5;
		border-radius: 50px;	
	}
	.header_top_contact{
		display: flex;
	}
	.header_top_nav_active{
		display: block;
		position: absolute;
		z-index: 1;
		top: 70px;
		right: 20px;
		background-color: #162834;
	}
	.header_top_nav_active ul{
		display: flex;
		flex-direction: column;
	}
	.header_top_nav_active ul li{
		padding: 5px;
	}
	.header_top_nav_active ul li a{
		border-bottom: 2px solid transparent;
		padding: 15px 10px;
	}
	.header_top_nav_active ul li a:hover{
		border-bottom: 2px solid #D77B37;
	}
	
}
@media (max-width: 610px){
	.header_top_box{
		min-width: 60%;
	}
	.header_top_contact_box ul{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.header_top_contact_box ul li{
		min-width: auto;
	}
	.header_top_contact_box ul li:nth-child(2){
		display: none;
	}
	.header_top_contact_box ul li:nth-child(3){
		display: none;
	}
}

/*=======================header-Content=============================*/
.header_content_box{
	display: flex;
	color: #fff;
}
.header_content_box a{
	color: #fff;
}
.header_content{
	display: flex;
	flex-direction: column;
	padding: 0px 20%;
	background-image: url("image/header-bg.png");
	background-color: currentcolor;
	background-size: 100%;
	min-height: 550px;
}

.header_content_item_2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header_content_name{
	font-weight: 600;
	font-size: 44px;
	line-height: 150%;
	text-align: center;
	margin-bottom: 50px;
}
.header_content_description{
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
}
.header_content_item_box{
	width: 86%;
	margin: 80px 70px 20px; 
}
.header_content_button a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	width: 240px;
	height: 60px;
	background-color: #B65C19;
	border: 1px solid #B65C19;
	border-radius: 5px;
	margin: 25px;
	transition: 0.5s;
}
.header_content_button a:hover{
	background-color: transparent;
	border: 1px solid #B65C19;
}
.header_content_item{
	display: flex;
	align-items: center;
}
.header_content_item_icon a{
	margin-bottom: 15px;
}
.header_content_batton{
	width: 100%;
	display: flex;
	justify-content: center;
}
.header_content_progress{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "TacticSans";
	font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;
	min-width: 240px;
	height: 60px;
	border: 1px solid #B65C19;
	border-radius: 12px;
	margin: 35px;
	padding: 25px;
	color: #fff;
}

@media (max-width: 1560px){.header_content{	padding: 0px 15%;}}
@media (max-width: 1560px){.header_content{	padding: 0px 10%;}}
@media (max-width: 1430px){.header_content{	padding: 0px 10%; background-size: cover;}}
@media (max-width: 1170px){.header_content{	padding: 0px 5%;}}
@media (max-width: 1050px){.header_content{	padding: 0px 1%;}}
@media (max-width: 960px){
	.header_content_name{
		font-size: 36px;
	}
	.header_content_progress{
		margin: 15px;
	}
}
@media (max-width: 768px){
	.header_content_name{
		font-size: 26px;
	}
	.header_content_description{
		font-size: 16px;
	}
	.header_content_progress{
		min-width: auto;
		margin: 2px;
		padding: 2px;
		font-size: 16px;
	}
	.number .number_content{
		font-size: 24px;
	}
}
@media (max-width: 630px){
	.header_content_progress{
		display: none;
	}
	.header_content_item{
		display: none;
	}
}

/*=======================================section_servise===========================*/
.section_servise{
	padding: 0px 15%;
}
.section_servise_content_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.servise_slider{
	display: flex;
}
.servise_slider_item{
	display: flex;
	justify-content: space-between;
	border-bottom:5px solid #E5E5E5;
}
.servise_slid{
	margin-top: -6px;
	display: flex;
	flex-direction: column;
	margin-bottom: -6px;
}
.servise_box{
	display: flex;
	min-height: 170px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.servise_box:hover{
	cursor: pointer;
}
.servise_box_name{
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin: 5px;
}
.servise_box_content{
	display:none;
}
.servise_slid--active{
	display: block;
	padding: 20px;
	margin: 5px;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
}
.servise_box_content ul li{
	list-style-type:disc;
}
.servise_box_content ul li ul li{
	list-style-type:none;
}
.pod_text{
	margin-left: 50px;
	width: 50%;
}
.servic_text_box{
	width:100%;
}
.section_servise_button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #D77B37;
	color: #000;
	border-radius: 8px;
	width: 250px;
	height: 50px;
	margin: 25px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}


.servise_mobile_leading, .servise_mobile_next{
	display: none;
}
@media (max-width: 1560px){.section_servise{padding: 0px 10%;}}
@media (max-width: 1170px){.section_servise{padding: 0px 5%;}}
@media (max-width: 990px){
	.section_servise{	padding: 0px 1%;}
}
@media (max-width: 920px){
	.servise_slider_item{
		min-width: 100%;
	}
	.servise_slider{
		flex-wrap: wrap;
	}
	.servise_slid{
		flex-basis: 200px;
		flex-wrap: wrap;
	}
}
@media (max-width: 520px){

	.servise_slider_item{
		border:none;
	}
	/*Слайдер*/
	.servise_slid{
		border-bottom: 5px solid #E5E5E5;
		margin: 5px;
		min-width:250px;
	}
	.servise_box{
		min-width: 240px;
	}
	.section_servise_slider{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.servise_slid{
		display: none;
	}
	span.servise_mobile_leading, span.servise_mobile_next{
		display: block;
	}
	.servise_slid_active{
		display: flex;
		min-width: 100%;
	}
}